@model RootObject
@{
    Layout = null;
}

<table id="StockTable" cellpadding="0" cellspacing="0" border="1">
    <tr>
        <th>Название</th>
        <th>Цена</th>
        <th>Количество</th>
        <th>*</th>
    </tr>
    @foreach (var m in Model.stock)
    {
        <tr>
            <td>@m.name</td>
            <td>@m.volume</td>
            <td>@m.price.amount</td>
            <td>@m.percent_change</td>
        </tr>
    }
</table>
